.clear-icon-button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rounded-button{
    border-radius: 9999px !important;
  }
  .rounded-card{
    border-radius: 16px !important;
  }