.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Adjust the gap as needed */
  }
  
  .form-row {
    display: flex;
    flex-direction: row;
    gap: 16px; /* Adjust the gap as needed */
  }
  
  .form-field {
    flex: 1;
    min-width: 50% /* Adjust the minimum width as needed */
  }
  
  .full-width {
    width: 100%;
  }