<h1 mat-dialog-title>Import List</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="w-full">
      <mat-label>UID</mat-label>
      <input matInput formControlName="uid" required />
      <mat-error *ngIf="form.get('uid')?.hasError('required')">
        6 digit UID is required
      </mat-error>
      <mat-error
        *ngIf="
          form.get('uid')?.hasError('minlength') ||
          form.get('uid')?.hasError('maxlength')
        "
      >
        UID must be exactly 6 characters long
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onImportClick()" [disabled]="form.invalid">
    Import
  </button>
</div>
