<div class="w-full flex justify-between items-center">
  <div *ngIf="canGoBack; else settings" class="w-fit h-fit flex items-center">
    <button
      mat-icon-button
      class="flex justify-center items-center"
      (click)="navigateBack()"
    >
      <mat-icon class="icon-size -translate-x-3 -translate-y-3"
        >chevron_left</mat-icon
      >
    </button>
  </div>

  <ng-template #settings>
    <div class="w-fit h-fit flex items-center">
      <button
        mat-icon-button
        class="flex justify-center items-center w-12 h-12"
        (click)="navigateToSettings()"
      >
        <mat-icon class="icon-size -translate-x-3 -translate-y-3"
          >settings</mat-icon
        >
      </button>
    </div>
  </ng-template>

  <div class="text-7xl app-name-text w-fit h-fit">Shopli</div>

  <div class="w-fit h-fit flex items-center"></div>
</div>
